# OS Synology
.DS_Store
Thumbs.db
/index.php

# IDE / éditeurs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Environnement local
.env
.env.local

# Base de données
*.sql
*.sqlite

# Cache / temporaires
tmp/
cache/

# Config Connection
www/app/config/database.php
www/app/config/secrets.php
www/app/config/mail.php

# Node
node_modules/

# Composer
/vendor

# Documentation projets
/documentation

# Fichier API
www/app/controllers/api/license/verify.ph

# Fichiers OVH
.bash_logout

.bash_profile

.bashrc

.ovhconfig
